/* ::::: https://chaseonline.chase.com/Themes/default/css/style.css ::::: */

img { border: 0pt none; }
form { margin: 0px; padding: 0px; }
body { font-family: arial,helvetica,sans-serif; margin: 0px; color: rgb(0, 0, 0); }
.bodytext { font-size: 75%; font-weight: normal; }
.bodytext10sm { font-size: 70%; padding: 5px 0px 5px 10px; }
.bodytextbold { font-size: 75%; font-weight: bold; }
a:link, a:visited { color: rgb(0, 51, 102); background-color: transparent; text-decoration: underline; }
a:active, a:hover { color: rgb(82, 128, 177); background-color: transparent; text-decoration: underline; }
a.globalnavlinks:link, a.globalnavlinks:visited { color: rgb(102, 102, 102); background-color: transparent; text-decoration: none; }
a.globalnavlinks:active, a.globalnavlinks:hover { color: rgb(82, 128, 177); background-color: transparent; text-decoration: underline; }
.footertext { font-size: 0.7em; color: rgb(102, 102, 102); background-color: transparent; padding-bottom: 10px; }
.fullwidth { width: 779px; }
.tabaccountsoff { background-image: url('https://chaseonline.chase.com/Themes/default/images/tabs_accounts_off.gif'); width: 117px; height: 28px; background-repeat: no-repeat; }
.tabcustomercenteron { background-image: url('https://chaseonline.chase.com/Themes/default/images/tabs_customer_on.gif'); width: 149px; height: 28px; background-repeat: no-repeat; }
.bcon { color: rgb(82, 128, 177); background-color: transparent; font-weight: bold; }
.bcrow { font-size: 70%; height: 20px; padding-left: 10px; }
.tabpaymentsoff { background-image: url('https://chaseonline.chase.com/Themes/default/images/tabs_payments_off.gif'); width: 175px; height: 28px; background-repeat: no-repeat; }
.tabproductsoff { background-image: url('https://chaseonline.chase.com/Themes/default/images/tabs_products_off.gif'); width: 164px; height: 28px; background-repeat: no-repeat; }
.globalnav { color: rgb(102, 102, 102); background-color: white; font-size: 70%; text-align: right; }
.inputtextbox { font-size: 75%; margin: 2px 0px; vertical-align: top; padding: 2px 0px; }
.lblueheader { background-color: rgb(212, 223, 235); font-weight: bold; color: rgb(0, 51, 102); width: 707px; vertical-align: bottom; border-bottom: 1px solid rgb(255, 255, 255); }
.lblueheaderleft { background-color: rgb(212, 223, 235); color: inherit; background-image: url('https://chaseonline.chase.com/images/curvebg_lightblue_left.gif'); background-repeat: no-repeat; width: 12px; border-bottom: 1px solid rgb(255, 255, 255); }
.alerttext2 { color: rgb(153, 0, 0); background-color: transparent; font-size: 1.6em; font-weight: bold; vertical-align: middle; }
.lblueheaderleft { background-color: rgb(212, 223, 235); color: inherit; background-image: url('https://chaseonline.chase.com/images/curvebg_lightblue_left.gif'); background-repeat: no-repeat; width: 12px; border-bottom: 1px solid rgb(255, 255, 255); }
.lblueheaderright { background-color: rgb(212, 223, 235); color: inherit; background-image: url('https://chaseonline.chase.com/images/curvebg_lightblue_right.gif'); background-repeat: no-repeat; width: 12px; border-bottom: 1px solid rgb(255, 255, 255); background-position: right top; }
.lblueheaderright { background-color: rgb(212, 223, 235); color: inherit; background-image: url('https://chaseonline.chase.com/images/curvebg_lightblue_right.gif'); background-repeat: no-repeat; width: 12px; border-bottom: 1px solid rgb(255, 255, 255); background-position: right top; }
.tanbuttonrow { background-color: rgb(242, 242, 225); color: inherit; padding: 10px 0px; }
.instrtext { font-size: 75%; color: rgb(102, 102, 102); background-color: transparent; }
.instrtextarea { padding: 0px 15px; }
.instrtexthead { font-size: 1.2em; }
a.helplinks:link, a.helplinks:visited { color: rgb(0, 51, 102); background-color: transparent; text-decoration: none; font-size: 0.7em; font-weight: normal; }
a.helplinks:active, a.helplinks:hover { color: rgb(82, 128, 177); background-color: transparent; text-decoration: underline; font-size: 0.7em; font-weight: normal; }
.pagetitle { font-size: 1.25em; color: rgb(153, 153, 153); background-color: transparent; padding-left: 15px; font-weight: bold; }
.spacerh5 { height: 5px; font-size: 5px; }
.spacerh10 { height: 10px; font-size: 10px; }
.spacerh20 { height: 20px; font-size: 20px; }
.spacerh30 { height: 30px; font-size: 30px; }
.spacerw15 { width: 15px; }
.spacerw25 { width: 25px; }
.errorrow { font-size: 0.8em; color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(217, 140, 64); height: 30px; text-align: center; }
.errortext { font-size: 0.9em; color: rgb(217, 140, 64); background-color: transparent; font-weight: bold; }
.buttonback { color: rgb(255, 255, 255); font-family: arial; font-weight: bold; background-color: rgb(153, 153, 153); margin: 0px 0px 0px 5px; font-size: 80%; }
.buttonfwd { background-image: url('https://chaseonline.chase.com/images/button_bg.gif'); background-repeat: repeat-x; color: rgb(255, 255, 255); font-family: arial; font-weight: bold; background-color: rgb(167, 198, 138); margin: 0px 0px 0px 5px; font-size: 80%; }
.summaryheader { font-size: 70%; padding: 10px 0px 5px; }
.headerbardate { font-weight: bold; text-align: right; padding-right: 15px; vertical-align: bottom; padding-bottom: 3px; }
td.sidebar { color: inherit; background-color: rgb(82, 128, 177); width: 4px; min-width: 4px; font-size: 4px; }
.headerbar { color: rgb(255, 255, 255); background-color: transparent; font-size: 70%; padding-top: 5px; vertical-align: middle; }
.headerbarwidth { background-image: url('https://chaseonline.chase.com/Themes/default/images/headerback.gif'); background-repeat: no-repeat; width: 779px; }
.segimage { background-image: url('https://chaseonline.chase.com/Themes/default-col/images/headertext.gif'); width: 200px; height: 25px; background-repeat: no-repeat; }
.segimage { background-image: url('https://chaseonline.chase.com/Themes/default-col/images/headertext.gif'); width: 200px; height: 25px; background-repeat: no-repeat; }
.instrtext { font-size: 75%; color: rgb(102, 102, 102); }
.instrtextarea { padding: 0px 15px; }
.instrtexthead { font-size: 1.2em; }
.bodytextlg { font-size: 0.85em; font-weight: normal; }
.divider2 { height: 1px; font-size: 1px; background-image: url('https://chaseonline.chase.com/images/dash.gif'); background-position: left bottom; background-repeat: repeat-x; margin-top: 20px; margin-bottom: 10px; }
.divider { height: 1px; font-size: 1px; background-image: url('https://chaseonline.chase.com/images/dash2.gif'); background-position: left bottom; background-repeat: repeat-x; margin-top: 20px; margin-bottom: 10px; }
.stepdone { border: 1px solid rgb(0, 0, 0); padding: 0px; height: 10px; font-size: 1px; background-color: rgb(0, 51, 102); color: rgb(204, 204, 204); }
.stepon { border: 1px solid rgb(102, 102, 102); padding: 0px; height: 10px; font-size: 1px; background-color: rgb(82, 128, 177); color: inherit; background-position: center center; background-image: url('https://chaseonline.chase.com/images/indicator.gif'); background-repeat: no-repeat; }
.steptextoff { padding: 3px 15px; color: rgb(102, 102, 102); background-color: transparent; font-size: 70%; }
.steptexton { padding: 3px 15px; color: rgb(0, 0, 0); background-color: transparent; font-size: 70%; font-weight: bold; }
/* ::::: https://chaseonline.chase.com/Themes/default-col/css/style.css ::::: */

.segimage { background-image: url('https://chaseonline.chase.com/Themes/default-col/images/headertext.gif'); width: 200px; height: 25px; }
/* ::::: https://chaseonline.chase.com/Themes/guest/css/style.css ::::: */

#routableEnrollHeader { padding-bottom: 6px; font-size: 1.2em; color: rgb(9, 90, 166); font-weight: bold; background: url('https://chaseonline.chase.com/content/ecpweb/sso/image/bk-dash.gif') repeat-x scroll left bottom transparent; margin-bottom: 0px; text-transform: uppercase; }
#routableEnrollHeader #routableEnrollHeaderPad { padding-left: 10px; }
#routableEnrollSubheader { font-size: 0.6em; color: rgb(0, 0, 0); }
#routableSecurityBox h2 span { font-size: 1.4em; color: rgb(9, 90, 166); }
#routableEnrollText { margin: 10px; font-size: 0.7em; }
#routableEnrollButton { display: block; width: 180px; height: 24px; background: url('https://chaseonline.chase.com/content/ecpweb/sso/image/ob-button-enroll-now.gif') no-repeat scroll 0% 0% transparent; margin-top: 15px; }
#routableEnrollButton span { display: block; position: absolute; top: -1000px; }
#routableDemoButton { display: block; width: 180px; height: 24px; background: url('https://chaseonline.chase.com/content/ecpweb/sso/image/ob-button-see-the-demo.gif') no-repeat scroll 0% 0% transparent; margin-top: 10px; }
#routableDemoButton span { display: block; position: absolute; top: -1000px; }
#routableSecurityBox { margin-top: 0px; margin-left: 30px; height: 30px; }
#routableSecurityBox h2 { margin-top: 0pt; font-size: 1.2em; font-weight: bold; text-transform: uppercase; background: url('https://chaseonline.chase.com/content/ecpweb/sso/image/bk-dash.gif') repeat-x scroll left bottom transparent; margin-bottom: 0px; padding-bottom: 3px; }
#rountableLinkBox { background: url('https://chaseonline.chase.com/content/ecpweb/sso/image/sculptured-octagon.jpg') no-repeat scroll right bottom transparent; height: 300px; font-size: 0.75em; }
#rountableLinkBox ul { list-style-image: url('https://chaseonline.chase.com/content/ecpweb/sso/image/blue-link-arrow.gif'); margin-top: 10px; margin-left: -20px; }
#rountableLinkBox a { color: rgb(9, 90, 166); text-decoration: none; }
#rountableLinkBox a:hover { text-decoration: underline; }
#rountableLinkBox li { margin-bottom: 2px; }
#topspacer { margin-top: 1px; }
#clear { height: 1px; width: 460px; clear: both; }
#routableEnrollHeader { padding-bottom: 6px; font-size: 1.2em; color: rgb(9, 90, 166); font-weight: bold; background: url('https://chaseonline.chase.com/content/ecpweb/sso/image/bk-dash.gif') repeat-x scroll left bottom transparent; margin-bottom: 0px; text-transform: uppercase; }
#routableEnrollHeader #routableEnrollHeaderPad { padding-left: 10px; }
#routableEnrollSubheader { font-size: 0.6em; color: rgb(0, 0, 0); }
#routableSecurityBox h2 span { font-size: 1.4em; color: rgb(9, 90, 166); }
#routableEnrollText { margin: 10px; font-size: 0.7em; }
#routableEnrollButton { display: block; width: 180px; height: 24px; background: url('https://chaseonline.chase.com/content/ecpweb/sso/image/ob-button-enroll-now.gif') no-repeat scroll 0% 0% transparent; margin-top: 15px; }
#routableEnrollButton span { display: block; position: absolute; top: -1000px; }
#routableDemoButton { display: block; width: 180px; height: 24px; background: url('https://chaseonline.chase.com/content/ecpweb/sso/image/ob-button-see-the-demo.gif') no-repeat scroll 0% 0% transparent; margin-top: 10px; }
#routableDemoButton span { display: block; position: absolute; top: -1000px; }
